

.half{
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-style: bold;
}

.first-left {
    width: 40%;
    margin-right: 10%;
}

.first-left h2 {
    text-align: center;
}

.first-left p {
    line-height: 1.5;
    text-align: justify;
}

.first-left span {
    color: #087ea4;
}

.second-left {
    justify-content: start;
}

.second-left h2{
    text-align: center;
}

.second-left li{
    margin-top: 5px;
    display: flex;
    list-style-type: none;
}
.second-left li p{
    font-size: 24px;
    margin-left: 10px;
}

.second-right h2{
    text-align: center;
}

.second-right {
    justify-content: start;
    align-items: center;
}

.card-experience{
    width: 400px;
    padding: 20px 50px;
    display: flex;
    justify-content: start;
    background-color: rgba(62,114,168,0.1);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}

.card-experience h3{
    margin: 10px 0 5px 0;
    
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
    .first-left {
        width: 60%;

    }

}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .first-right {
        display: none;
    }

    .first-left {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    

    .card-experience {
        width: 258px;
        margin-bottom: 30px;
    }

    .second {
        flex-direction: column;
    }

    .half{
        width: 100%;
    }
   

    
}

@media (max-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */


}


@media (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */


}

@media (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */



    
}
