.header {
    display: flex;
    top: 0;
    width: 100%;
    background-color: #23272e;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.navBar {
    width: 80%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #f3f3f3;
    float: left;
}

.logo {
    font-size: 36px;
    margin: 0;
    color: #087ea4;
    transition: 0.5s;
    text-decoration: none;
}

.logo:hover {
    color: #f3f3f3;
}

.navBar nav {
    display: flex;
    flex-direction: row;
}

.navBar nav a {
    margin: 0;
    padding: 15px 25px;
    text-decoration: none;
    color: #f3f3f3;
    transition: background-color 0.5s;
    border-radius: 15px;
    margin: 10px;
}

.navBar nav a:hover {
    background-color: #087ea4;
}

Link:visited {
    color: #087ea4;
}


@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (max-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .navBar {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

}


@media (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */


}

@media (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */


}