@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: roboto;
  font-weight: 700;
  background-color: #23272e;
  color: #f3f3f3;
}



.container{
  width: 80%;
  max-width: 1280px;
  display: flex;
  min-height: 520px;
  height: 100vh;
  margin: auto;
}

.first{
  height: calc(100vh - 69px);
}

@media (max-width:480px) {
  .first{
    height: calc(100vh - 132px);
  }
}
